:root {
  --admin-bar-height: 32px;
}

@media screen and (max-width: 782px) {
  :root {
    --admin-bar-height: 46px;
  }
}

.urm-modal-overlay {
  position: fixed;
  top: var(--admin-bar-height);
  left: 0;
  width: 100%;
  height: calc(100% - var(--admin-bar-height));
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end; /* Align modal to the right side of the screen */
  align-items: center;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 9999;
}

.urm-modal {
  background: white;
  padding: 20px;
  width: 45%; /* Set width to 45% */
  height: 100%; /* Full height */
  position: relative;
  transform: translateX(100%);
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.urm-modal-close {
  position: absolute;
  top: 60px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* Centered Modal */
.urm-modal.center {
	width: auto;
	height: auto;
	margin: auto;
	opacity: 0;
	transform: scale(0);
	animation-name: zoomIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.urm-modal.center button.urm-modal-close {
	top: 5px;
	right: 5px;
}

.urm-modal.center button.urm-modal-close:hover {
	background-color: transparent;
}

.urm-modal.center > h4 {
	margin-top: 0
}

.urm-modal.center > button.urm-button {
	margin-right: 10px;
}

	/* Off-canvas Modal */
.urm-modal.off-canvas {
	/* Keep existing styles */
}

/* Overlay styles for centered modal */
.urm-modal-overlay.center {
	justify-content: center;
	align-items: center;
}

/* Overlay styles for off-canvas modal */
.urm-modal-overlay.off-canvas {
	justify-content: flex-end;
	align-items: center;
}

/* Zoom in animation for centered modal */
@keyframes zoomIn {
	to {
		opacity: 1;
		transform: scale(1);
	}
}
